  <style>
      * {
        padding: 0px;
        margin: 0px;
      }
      /* 弹窗背景 */
      #modal {
        width: 100%;
        height: 100%;
        /* 默认隐藏 */
        /* display: none; */
        /* 固定定位 */
        position: fixed;
        /* 设置在顶层 */
        z-index: 1000;
        /* 设置位置 */
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      }
      /* 弹窗内容 */
      #modal-content {
        position: relative;
        background-color: #fff;
        margin: 10% auto;
        border: 1px solid #888;
        width: 1500px;
        height: 1080px;
        z-index: 1001;
      }
/* 设置关闭按钮的鼠标指针 */
      #close:hover,
      #close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    </style> 
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-4xl-1: 23.1px;
  --font-size-lg: 18px;
  --font-size-11xl-1: 30.1px;
  --font-size-5xl: 24px;
  --font-size-4xl: 23px;
  --font-size-16xl: 35px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-10xl: 29px;

  /* Colors */
  --color-whitesmoke: #f2f2f2;
  --color-gray-100: #858585;
  --color-gray-200: #231815;
  --color-white: #fff;

  /* Gaps */
  --gap-xs-3: 11.3px;
  --gap-xs-2: 11.2px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-2xs-1: 10.1px;

  /* Paddings */
  --padding-44xl: 63px;
  --padding-86xl: 105px;
  --padding-151xl: 170px;
  --padding-8xl: 27px;
  --padding-25xl: 44px;
  --padding-23xl: 42px;
  --padding-22xl: 41px;
  --padding-49xl: 68px;
  --padding-66xl: 85px;
  --padding-2xs: 11px;
  --padding-mid: 17px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-8xs-2: 4.2px;
  --padding-20xl-2: 39.2px;
  --padding-19xl-8: 38.8px;
  --padding-35xl: 54px;
}

.vector-icon2 {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  width: 100%;
  height: 100%;
  display: none;
}
.div5 {
  top: calc(50% + 0.4px);
  left: calc(50% + 726.7px);
  font-size: 30.3px;
  display: inline-block;
  min-width: 122px;
}
.component-6-icon,
.div5,
.div6 {
  position: absolute;
  z-index: 1;
}
.component-6-icon {
  top: calc(50% - 122.8px);
  left: calc(50% + 732.9px);
  width: 108.4px;
  height: 108.4px;
}
.div6 {
  top: calc(50% - 205.7px);
  left: calc(50% + 738.7px);
  display: inline-block;
  min-width: 93px;
}
.services-and-route {
  top: calc(50% - 299.5px);
  left: calc(50% + 743.5px);
  width: 82.5px;
  height: 82.5px;
}
.component-5-icon,
.div7,
.services-and-route {
  position: absolute;
  z-index: 1;
}
.div7 {
  top: calc(50% - 354.4px);
  left: calc(50% + 738.7px);
  display: inline-block;
  min-width: 93px;
}
.component-5-icon {
  top: calc(50% - 448.2px);
  left: calc(50% + 743.5px);
  width: 82.5px;
  height: 82.5px;
}
.passionate-executors-icon {
  position: absolute;
  top: calc(50% - 540px);
  left: calc(50% - 960px);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.domain-agnostic-icon {
  position: absolute;
  top: 99px;
  left: 191.8px;
  width: 1269px;
  height: 802px;
  z-index: 3;
}
.rectangle-parent {
  position: absolute;
  top: 63px;
  left: 170px;
  width: 1460.8px;
  height: 912px;
}
.vector-icon3 {
  align-self: stretch;
  height: 802px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.vector-icon4 {
  height: 94px;
  width: 94px;
  position: relative;
  z-index: 5;
}
.vector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 34px;
}
.mentorsinvestorsx-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 5;
}
.mentorsinvestorsx-wrapper {
  height: 307.6px;
  width: 480.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-2) 0 0;
  box-sizing: border-box;
  min-width: 480.6px;
  max-width: 100%;
}
.div10,
.div8 {
  position: relative;
  line-height: 42.4px;
  z-index: 5;
}
.div10 {
  width: 140px;
  display: inline-block;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.div11 {
  flex: 1;
  position: relative;
  line-height: 42.4px;
  z-index: 5;
}
.container,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.wrapper {
  width: 177px;
}
.container {
  max-width: 100%;
}
.div13 {
  flex: 1;
  position: relative;
  line-height: 42.4px;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.div14 {
  position: relative;
  line-height: 42.4px;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.frame-div {
  width: 457px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.tips-message {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.announcement-container,
.content,
.tips-message,
.welcome-message-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.welcome-message-container {
  flex: 1;
  flex-direction: column;
  gap: 19.2px;
  min-width: 410px;
}
.announcement-container,
.content {
  width: 1190.2px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 58.6px;
}
.content {
  position: absolute;
  top: 139.5px;
  left: 342.3px;
  background-color: var(--color-white);
  border: 0 solid #1caf76;
  width: 1269px;
  flex-direction: column;
  align-items: flex-end;
  padding: 22.5px var(--padding-9xs) 187.5px;
  gap: 118.8px;
  z-index: 4;
  font-size: var(--font-size-16xl);
  color: var(--color-gray-100);
}
.component-7-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.div16 {
  position: absolute;
  top: 78.2px;
  left: 125.6px;
  z-index: 6;
}
.notification {
  position: absolute;
  top: 116px;
  left: 384px;
  width: 315.7px;
  height: 144.5px;
  font-size: 39px;
  color: var(--color-white);
}
.div4 {
  width: 1920px;
  height: 1080px;
  background-color: var(--color-whitesmoke);
  max-width: 100%;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-4xl-1);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .mentorsinvestorsx-icon {
    align-self: stretch;
    width: auto;
  }
  .mentorsinvestorsx-wrapper {
    flex: 1;
  }
  .announcement-container {
    flex-wrap: wrap;
  }
  .div4 {
    height: auto;
    min-height: 1080;
  }
}
@media screen and (max-width: 950px) {
  .div5 {
    font-size: var(--font-size-5xl);
  }
  .div10,
  .div11,
  .div13,
  .div14,
  .div8 {
    font-size: var(--font-size-9xl);
  }
  .div16 {
    font-size: 31px;
  }
}
@media screen and (max-width: 700px) {
  .mentorsinvestorsx-wrapper,
  .welcome-message-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .div5,
  .div6,
  .div7 {
    font-size: var(--font-size-lg);
  }
  .div10,
  .div11,
  .div13,
  .div14,
  .div8 {
    font-size: var(--font-size-2xl);
  }
  .div16 {
    font-size: var(--font-size-4xl);
  }
}
